* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./images/background-image.jpg");
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./images/69648590-header-wallpapers.jpg");
    color: #ffffff;
}

header h1:hover {
    color: #03c0f4;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header a:hover {
    color: #03c0f4;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin: 10px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

a {
    color: rgb(249, 250, 251);
    text-decoration: none;
}

article div pro

p {
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.about-me,
.work,
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    border-radius: 10px;
    margin: 10px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./images/marjan-blan-5Ft4NWTmeJE-unsplash.jpg");
}

.about-me img {
    height: 220px;
    width: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -3rem;
    margin-right: -3rem;
}

.justify-center {
    justify-content: center;
}



.project, .project-header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: solid;
    border-color: #0072bb;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    margin: 10px;
    padding: 5px;
    background-image: linear-gradient(white, gray)
}

.project-header {
    margin: -1rem 0 1rem 0;
}

.row img {
    height: 15rem;
    width: 15rem;
    padding: 5px;
}

.project:hover {
    box-shadow: inset 0px 0px 8px blue, 0 0 15px black;
}
#project1 {
    position: relative;
    height: 18rem;
    width: 18rem;
}

.contact-me h3 {
    padding: 15px;
}

.contact-me a {
    color: #0072bb;
}

div a {
    color: black;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.footer {
    color: #ffffff;
    padding: 15px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {

    font-size: 20px;
}

@media screen and (max-width: 992px) {

    .about-me,
    .work,
    .contact-me {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .about-me,
    .work,
    .contact-me {
        width: 80%;
    }
}